  
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzBWD2agX62OdSs_MFL4hxCV9LoHdtAAQEJO0GH796viedSmh2wSIxkLRHu5fOZKGlNOM&usqp=CAU"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Welcome to Bookology</h4>
                  </div>
  
                  <div class="button-container">
                    <button  type="button" class="btn btn-success" (click)="goToBookList()" > <i class="fa fa-book"></i> Go to Book List</button>
                    <button (click)="goToQuoteList()" class="btn btn-warning"><i class="fa fa-list"></i> Go to Quote List</button>
                    <button (click)="logout()" class="btn btn-primary"><i class="fa fa-sign-in"></i> Logout </button>
                  </div>
                 
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Bookology: Where Stories Inspire and Words Resonate.</h4>
                  <p class="small mb-0">"A room without books is like a body without a soul."
                    – Marcus Tullius Cicero.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  
  </section>

  